
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    line-height: 2;
    font-size: 100%;
    border-style: border-box;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(209, 209, 186);
}

li {
    list-style-type: none;
}

section {
    width: 75%;
    display: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(135deg, rgb(75, 5, 75), rgb(19, 113, 253));
    /* background-color: rgb(75, 5, 75); */
    padding: 15px;
}

header h1 {
    color: white;
}

.search-history {
    width: 100%;
    text-align: center;
    margin-top: 8%;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 3% 0;
    list-style: none;
}

/* for later when creating elements (history) */
.search-history-list {
    margin-top: 5%;
    background-color:rgb(97, 7, 97);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 100px;
}

.search-history-list:hover {
    cursor: pointer;
}

#search-bar {
    /* 25% width */
    padding: 1%; 
    width: 23%;
    display: flex;
    flex-direction: column;
}

#user-input {
    width: 100%;
    border-radius: 25px;
    border: 0;
    padding: 5px 20px;
    height: 40px;
    font-size: 18px;
}

#submit {
    width: 100%;
    margin-top: 7%;
    border-radius: 8px;
    background-color: rgb(71, 143, 252);
    color: white;
    padding: 3% 0;
    border: 0.5px;
}

#submit:active {
    box-shadow: inset 2px 2px 2px rgb(19, 113, 253);
    background-color: rgb(101, 163, 255)
}

#search-history {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    border-top: 1px solid grey;
}

#search-result {
    margin: 10px 3%;
    padding: 10px 20px;
    width: 98%;
    margin-right: 2%;
    border: 1px solid darkgrey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px rgb(104, 104, 104);
    background-color: rgb(204, 204, 182);
}

#five-day-forecast {
    margin: 10px 3%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#five-day-forecast h3 {
    width: 100%;
}

.width20 {
    width: 18%;
    margin-right: 2%;
    margin-bottom: 2%;
    min-width: 140px;
}

#day-after-1, #day-after-2, #day-after-3, #day-after-4, #day-after-5 {
    background-color: rgb(137, 228, 228);
    padding: 1%;
    border-radius: 10px;
    box-shadow: 1px 1px 12px grey;
}

@media screen and (max-width: 576px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(209, 209, 186);
    }
    #search-bar {
        /* 25% width */
        padding: 10%; 
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    #five-day-forecast {
        margin: 10px 3%;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
    }
    .width20 {
        width: 94%;
        margin: 2%;
        margin-bottom: 2%;
        min-width: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}